<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Electricity_bills</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="navigateToCollegeFees()">College Fees</ion-button>
  <ion-button [routerLink]="['/electricity-bills']">Electricity Bills</ion-button>
  <ion-button (click)="navigateToGroceries()" >Groceries</ion-button>  
  <ion-button (click)="navigateToHome()">Home</ion-button>
  <ion-button (click)="navigateToOthers()">Other</ion-button>
</ion-content>